  
.nav-bar-li
{
    display: flex;
    justify-content: space-between;
}

body{

    background-color: #151519;
}

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

#main-heading
{
    
    color:bisque;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-size: 3.5vw; 
    margin: 0 auto; 
}

#header
{
display: flex;


}
#tyre
{
  width:75px;
}

#Header {
  display: flex; 
  align-items: center; 
}

#tyre {
  margin-right: 10px; 
}


